* {
    margin: 0;
    padding: 0;
}

body {

    background-image: linear-gradient(135deg, #00B7D4, #505488,
            #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
}

.titulo {
    background-color: #3498DB;
    opacity: 0.8;

    width: 460px;
    height: 40px;
    margin-left: 310px;
    margin-top: 50px;
    margin-bottom:none;
    text-align: center;
    border-radius:10px 10px 0px 0px;
    font-family: 'Times New Roman', Times, serif;

}

.main {
    width: 700px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-bottom: 87px;
}

.contenedor {
    background-color: #3498DB;
    opacity: 0.8;
    width: 450px;
    height: 440px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius:0px 0px 10px 10px;
    padding: 5px;

}

.caja-resultado {

    background-color: #3498DB;
    opacity: 0.8;

    width: 250px;
    height: 86%;
    border-radius:0px 10px 10px 0;
    margin: auto;
    display: inline-block;
}

.resultado{
    width: 220px;
    height: 27%;
    margin: 10px;
    border: black solid 1px;
    border-radius: 5px;
    padding: 5px;
}

.contenedor-caja {
    all: unset;
    background-color: #ffffff;
    opacity: 0.9;
    width: 100PX;
    height: 100PX;
    display: grid;
    border-radius: 20px;
    color: white;
    margin: auto;

}
.contenedor-caja h1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    font-size: 70px;


}

.contenedor-caja:hover {
    cursor: pointer;
}


.contenedor h3 {
    background-color: rgb(156, 211, 236);

}

.resultado-tiempo{
    width:210px;
    height:100%;
    margin: auto;
    font-family:alarm;
} 
.resultado-tiempo h2{
font-size: 25px;
}

#hms{
    font-family:alarm;
    height:68px;
    padding:3px;
    font-size:45px;
    color:#000;
    font-family: alarm;  
 }
